@font-face {
  font-family: 'AmazonEmberBold';
  src: url('./Amazon Ember Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'AmazonEmberLight';
  src: url('./Amazon Ember Light.ttf');
}

* {
  margin: 0;
}

html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'AmazonEmberLight', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
